* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --body-bg-clr: #f9f9f9;
    --theme-btn-bg-clr: #FFF;
    --calculator-shadow: 0 6px 16px #9e9e9e;
    --calculator-bg: #F5F5F5;
    --calculator-clr: black;
    --btn-shadow: 0 1px 3px rgb(86, 86, 86, 0.5);
    --btn-bg: linear-gradient(to bottom right, #F2F0EB 0%, #D3D3D3 99%);
    --btn-bg-hover: linear-gradient(to bottom right, #d6d4cd 0%, #afadad 99%);
    --btn-bg-active: linear-gradient(to bottom right, #bebcb5 0%, #969494 99%);
    --operator-btn-bg: linear-gradient(to bottom right, #E06308 0%, #F4A46A 79%);
    --operator-btn-bg-hover: linear-gradient(to bottom right, #ce5a07 0%, #ce844f 79%);
    --operator-btn-bg-active: linear-gradient(to bottom right, #bd5206 0%, #bd7745 79%);
}

.darkTheme {
    --body-bg-clr: #18232e;
    --theme-btn-bg-clr: #7B8E98;
    --calculator-shadow: 0 0 0;
    --calculator-bg: linear-gradient(to bottom left, #3D4E57, #495B65);
    --calculator-clr: white;
    --btn-shadow: 0 0 0;
    --btn-bg: linear-gradient(to bottom right, #777777, #9E9E9E);
    --btn-bg-hover: linear-gradient(to bottom right, #636262, #858282);
    --btn-bg-active: linear-gradient(to bottom right, #585757, #696666);
    --operator-btn-bg: linear-gradient(to top left, #da732a, #D65E07);
    --operator-btn-bg-hover: linear-gradient(to top left, #c26522, #b95208);
    --operator-btn-bg-active: linear-gradient(to top left, #aa581d, #9c4507);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg-clr);
}